.app {
  display: flex;
  flex-direction: column;
  background-color: #131316;
  color: #f2f2f3;
  position: relative;
  height: 100vh;
}

.main {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  width: 100%;
  gap: 40px;
}

.error {
  font-size: 40px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
